html{
    background: #7785AC;
}

body {
    font-family:'Courier New', Courier, monospace;
    margin: 40px;
    color:#110234;
    background-color: #a5e6e6;
    padding: 40px;
    border-top: 10px solid #360568;
    box-shadow: 5px 8px #5B2A86;
}

h1{
    font-size: 3em;
    margin: 0;
}

h2{
    margin: 5px;
}

p{
    line-height: 1.4em;
}

main{
    border: 1px dotted #360568;
    margin: 10px;
    padding: 10px;
    padding-top: 0;
}

#main-header{
    position: sticky;
    top: 0;
    background-color: #7785AC;
    padding: 5px; 
    box-shadow: 3px 4px #360568 ;
}

#main-header ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center ;
    align-self: center;
    padding: 0%;
}

#main-header ul li{
    width: calc(100%/3);
    text-align: center;
    font-size: 2em;
}

.blog-flex{
    display: flex;
}

.blog-post{
    min-width: 0;
    border: 1px dotted #360568;
    flex: 1 1 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.tab {
    display: inline-block;
    margin-left: 4em;
}

.blog-post img{
    box-sizing: border-box;
    width: auto;
    height: 400px;
    display: block;
    border: 5px solid #360568;
    box-shadow: 4px 6px #110234 ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

figure{
    float: left;
    border: 5px solid #360568;
    background-color: #110234;
}

figcaption{
    background-color: #110234   ;
    text-align: center;
    width: 200px;
    margin-top: auto;
    word-wrap: break-word;
    color: #A5E6BA;
}

#author-pic{
    max-width: 200px;
    height: auto;
}

.about{
    padding-bottom: 50px;
}

time[title]{
    font-weight: bold;
}

table{
    margin-bottom: 20px;
}

table, th, td{
    border: 1px dotted #360568;
}

table td:nth-child(2){
    text-align: center;
}

table caption{
    font-weight: bold;
    font-size: large;
}